<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog - {{title}}</title>
</head>

<body>
    <h1>{{title}}</h1>
    <p>{{content}}</p>
    <p>Created by: {{userId}}</p>
    <hr>
    <h2>Comments</h2>
    {{#if comments}}
    <ul>
        {{#each comments}}
        <li>
            <p>{{content}}</p>
            <p>Comment by: {{userId}}</p>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No comments yet. Be the first to comment!</p>
    {{/if}}
    <hr>
    <h2>Add a Comment</h2>
    <form action="/post/{{id}}/comment" method="POST">
        <label for="comment">Your Comment:</label><br>
        <textarea id="comment" name="content" required></textarea><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>
